body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

#dataList {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    margin-left: 10px;
    cursor: pointer;
}

.edit {
    margin-left: 10px;
    cursor: pointer;
}
